<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrabalhoFinalPDMPedroAugustoVieiraDeFreitas"
        tools:targetApi="31">
        <activity
            android:name=".controller.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.ClienteController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.ProdutoController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.PedidoController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.CadastroClienteController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.VisualizacaoClienteController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.SelecaoClientesAlteracaoController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.AtualizacaoClienteController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.SelecaoClientesExclusaoController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.ExclusaoClienteController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.CadastroProdutoController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.VisualizacaoProdutoController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.SelecaoProdutosAlteracaoController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.AtualizacaoProdutoController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.SelecaoProdutosExclusaoController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.ExclusaoProdutoController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.SelecaoClientePedidoController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.SelecaoPedidoEItemController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.SelecaoPedidoController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.SelecaoItemPedidoController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.AdicaoItemPedidoController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.SelecaoVisualizacaoClientesController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.SelecaoVisualizacaoPedidoClienteSelecionadoController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.VisualizacaoItemPedidoController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.SelecaoClientePedidoAlteracaoController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.SelecaoPedidoAlteracaoController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.SelecaoItemPedidoAlteracaoController" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.SelecaoProdutoAlteracaoItemPedido" />
        <activity android:name="trabalhofinalpdmpedroaugustovieiradefreitas.main.controller.AtualizacaoItemPedidoController" />
    </application>

</manifest>